.Mainnav {
  background-color: #002244 !important;
}

/* .navtext {
  font-size: 5rem !important;
  color: white !important;
  text-align: center !important;
  margin-left: 2rem !important;
} */
.pp {
  font-size: 1.5rem !important;
}
a {
  text-decoration: none !important;
}

.navbtn00 {
  background: linear-gradient(
    48.98deg,
    rgba(167, 214, 63, 0.9) -34.08%,
    #39b54a 44.93%,
    #9fd340 126.52%
  );
  border-radius: 2rem;
  width: 10rem;
  color: white !important;
  padding: 0.8rem !important;
  text-align: center;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 1.5rem !important;
  color: white !important;
  text-align: center !important;
  margin-left: 2rem !important;
}

.mainbtn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../../../public/lines.png") !important;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 1.5rem !important;
}
@media only screen and (width: 1024px) {
  .navtext {
    font-size: 5rem !important;
    color: white !important;
    text-align: center !important;
    margin-left: 1rem !important;
  }
  .pp {
    font-size: 1.5rem !important;
  }
  .navbar-light .navbar-nav .nav-link {
    font-size: 1.5rem !important;
    color: white !important;
    text-align: center !important;
    margin-left: 0.5rem !important;
  }
}
